{% extends 'base.html' %}

{% block content %}
<div class="row">
	<ul class="list-group" style="width: 800px">
		<li class="list-group-item" style="background-color: #d4edc9">Благодаря этим людям сайт развивается быстрее!</li>
		<li class="list-group-item">
			Мария Дробнова
			<a href="https://m.vk.com/marydrobnova" class="badge badge-info">VK</a>
		</li>
		<li class="list-group-item">
			Амир Дадашев
			<a href="https://m.vk.com/theamir4944" class="badge badge-info">VK</a>
		</li>
        <li class="list-group-item">
			Александр Агеев
			<a href="https://m.vk.com/sashylikin" class="badge badge-info">VK</a>
		</li>
		<li class="list-group-item">
			А также замечательный создатель данного сайта :)
			</li>
	</ul>
</div>

{% endblock %}
